body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-right: 10px;
  }

  ol li {
    list-style-type: none;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .square {
    background: #fff;
    border: 1px solid rgb(219, 23, 23);
    float: left;
    font-size: 24px;
    font-weight: normal;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }

  .winner {
    color: red;
    font-weight: bold;
  }

  .selectedMove {
    font-weight: bold;
  }

  .sortButton {
    margin-top: 10px;
  }
  
  .game {
    display: flex;
    flex-direction: column;
  }
  
  .game-info {
    margin-top: 20px;
  }
  